<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Sobre o Projeto</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="menu-superior">
  <a href="/">🏠 Início</a> |
  <a href="/sobre">📚 Sobre</a> |
  <a href="/blog">💬 Blog</a>
</nav>
  <div class="card">
    <h1>📚 Sobre o Projeto</h1>

    <p>Este projeto foi desenvolvido com o objetivo de promover a educação financeira de forma acessível, prática e acolhedora. A plataforma reúne recursos interativos, como simuladores, quizzes e espaços de expressão, para ajudar pessoas a refletirem sobre seu dinheiro com leveza e autonomia.</p>

    <p>Durante sua criação, aprendi sobre desenvolvimento web, lógica de programação e, principalmente, sobre como a tecnologia pode ser uma aliada na transformação da realidade financeira de outras pessoas.</p>

    <p>💡 Esta plataforma é parte do meu percurso acadêmico no curso de <strong>Tecnologia de Ciência dos Dados</strong> da <strong>Universidade Federal do Mato Grosso do Sul (UFMS)</strong>, e representa um passo importante na minha jornada de aprendizagem.</p>

    <ul>
      <li><a href="/">⬅️ Voltar para a página inicial</a></li>
    </ul>
  </div>
</body>
</html>